<div>
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
        {{ fruit }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete">
      <div
        class="options-container"
        *ngFor="let fruit of filteredFruits | async"
      >
        <mat-option [value]="fruit">
          <div class="options-container" (click)="onClick($event, fruit)">
            <mat-checkbox
              (click)="$event.preventDefault()"
              [checked]="selectedFruits[fruit]"
              [disableRipple]="'true'"
              color="primary"
              >{{ fruit }}</mat-checkbox
            >
          </div>
        </mat-option>
      </div>
    </mat-autocomplete>
  </mat-form-field>
</div>
