.multiselect-container {
  width: 50%;
  // border: 1px solid #dcdcdc;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  padding: 200px 200px;
  box-sizing: border-box;
  background-color: beige;
}
.description {
  width: 800px;
  height: min-content;
  border: 1px solid #dcdcdc;
  background-color: white;
  text-align: center;
}
.desc-heading {
  font-size: 40px;
  padding: 32px 0;
}

.desc-body {
  font-size: 24px;
  padding: 32px 0;
  .links {
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
  }
}
