<div class="container">
  <div class="multiselect-container">
    <app-multiselect-autocomplete></app-multiselect-autocomplete>
  </div>
  <div class="description">
    <div class="desc-heading">Material Multi Select Autocomplete</div>
    <div class="desc-body">
      This is a ✨ hacked ✨ version of a native Angular Material Component.
      <br />
      <div class="links">
        <a
          href="https://github.com/gauravbnsl/mat-autocomplete-multiselect"
          target="_blank"
          >Code (Github)</a
        >
        <a
          href="https://material.angular.io/components/chips/overview#chips-autocomplete"
          target="_blank"
          >Original Component</a
        >
      </div>
    </div>
  </div>
</div>
